@charset "utf-8";


body{
    text-align: center;
    background-color: rgb(52, 152, 199);
    color: white;
}

main{
    background-color: white;
    color: black;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.283);
    margin: auto;
    max-width: 500px;
    border-radius: 15px ;
    border: 1px solid black;
}

footer{
    
    font-style: italic;
}